@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700';

body
{
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  font: normal normal normal normal 14px/1.25em 'Open Sans Condensed', sans-serif;
  color: #444;

  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6
{
  font-weight: 700;
}

p
{
  font-size: 2rem;
  line-height: 1.25em;
}

a
{
  text-decoration: none;
  color: inherit;
}

header
{
  height: 50px;
  border-bottom: 1px solid #444;
  overflow: hidden;
}

header img
{
  margin: 0 0 0 25px;
  height: 50px;
  width: 150px;
  float: left;
}

header img:hover
{
  cursor: pointer;
}

nav
{
  float: right;
  overflow: hidden;
}

header ul
{
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: 700;
}

header li
{
  line-height: 50px;
}

nav li:hover
{
  cursor: pointer;
}

@media screen and (min-width: 1100px)
{
  .social
  {
      width: 27.2727%;/*300/1100*/
  }
}

@media screen and (min-width: 651px) and (max-width: 1099px)
{
  .social
  {
      width: 46.08294%;/*300/800*/
  }
}

@media screen and (min-width: 651px)
{
  header li
  {
    float: left;
    padding: 0 25px;
  }

  .mobile_nav
  {
    display: none;
  }

  .main_nav
  {
    display: block;
  }

  header li:hover
  {
    cursor: pointer;
    background-color: #1E1B7B;
    color: #FFF;
    font-size: 1.25em;
  }
}

@media screen and (max-width: 650px)
{
  /******************
    ! mobile_nav
  ******************/
  .menu
  {
    width: 150px;
    overflow: hidden;
  }

  .menu_button
  {
    height: 50px;
    width: 30px;
    margin: 0 25px;
    float: right;
  }

  nav li:hover ul
  {
    display: block;
  }

  li ul
  {
    position: absolute;
    top: 50px;
    right: 0;
    display: none;
    border-left: 1px solid #444;
    border-bottom: 1px solid #444;
    background-color: #FFF;
  }

  li ul li
  {
    width: 150px;
    float: none;
    text-align: left;
    padding: 0 0 0 10px;
  }

  li ul li:hover
  {
    background-color: #1E1B7B;
    color: #FFF;
    font-size: 1.25em;
  }

  .mobile_nav
  {
    display: block;
  }

  .main_nav
  {
    display: none;
  }
  /****** end mobile_nav */

}

/**********************************
! about
**********************************/
section:last-of-type
{
  width: 100%; /*960px*/
  margin: 50px auto 0 auto;
}

#casey_photo
{
  min-width: 200px;
  max-width: 275px;
  width: 26.04166666%;/*250/960*/
  border-radius: 5%;
  /*box-shadow: 0 0 4px #777;*/
  margin: 50px auto 0 auto;
  display: block;
}

.social
{
  padding: 0;
  margin: 40px auto;
  list-style: none;
  display: block;
  overflow: hidden;
}

.stack
{
  padding: 0;
  margin: 20px auto;
  list-style: none;
  display: block;
  overflow: hidden;
}

.social li, .stack li
{
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 40px;

}

.projects_app
{
  max-width: 960px;
  margin: 0 auto 50px;
  width: 72.91666666%;/*700/960*/
}

.projects_app h1:hover
{
  color: #1E1B7B;
  text-decoration: underline;
}

.stack li
{
  font-size: 1.75em;
  width: 30px;
  text-align: center;
}

.stack li:hover
{
  font-size: 2em;
  color: #7A1B1B;
}

.social li
{
  width: 25%;
  font-size: 2.5em;
}

.social li:hover 
{
  cursor: pointer;
  color: #1B7A1B;
  font-size: 2.7em;
}

.projects h1
{
  font-size: 2.5em;
}

.temp_p
{
  width: 72.91666666%;/*700/960*/
  max-width: 960px;
  margin: 50px auto 75px;
}

.highlight
{
  color: #1D2895;
}

.blog_post
{
  text-align: center;
}

/**********************************
! projects
**********************************/

.projects
{
  width: 960px;
  margin: 0 auto;
}

/**********************************
! portfolio
**********************************/

.portfolio
{
  overflow: hidden;
  width: 100%;/*960px*/
  color: #EEE;
  background-color: #1E1B7B;
}

.portfolio h1
{
  font-size: 3.5em;
  text-align: center;
  line-height: 75px;
  margin: 25px 0;
}

@media screen and (max-width: 468px)
{
   .social
  {
    width: 64.1025%;/*300/468*/
  }
}

@media screen and (min-width: 469px) and (max-width: 875px)
{
     .social
  {
    width: 46.1538%;/*300/650*/
  }
}

