html
head

	link(rel="icon" href="graphics/favicon.png" type="image/gif" sizes="32x32")
	title Full-Stack Applications Developer | Orlando, FL

	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(charset="utf-8")
	meta(name="author" content="Casey McClure")
	meta(name="description" content="Casey McClure is a Web Designer &amp; Full-stack developer in the Orlando, Fl area. Casey specializes in HTML, CSS, JS, PHP, SQL, and MVC architecture.")

	link(type="text/css" rel="stylesheet" href="css/main.css")
	link(rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css")
	link(rel="stylesheet" href="css/font-mfizz/font-mfizz.css")

	script(src="js/googleAnalytics.js")
body
header
	a(href="/")
		img(id="logo" alt="caseymcclure.me" src="graphics/caseymcclure_logo.svg")

	nav(class="main_nav")
		ul
			li 
				a(href="/") cm.me
			li 
				a(href="/blog") dev blog
	nav(class="mobile_nav")
		ul
			li(class="menu")
				img(class="menu_button" alt="hamburger_button" src="graphics/menu_button.png") 
				ul
					li
						a(href="/") cm.me
					li 
						a(href="") blog
block content



