html
head

	link(rel="icon" href="graphics/favicon.png" type="image/gif" sizes="32x32")
	title Full-Stack Applications Developer | Orlando, FL

	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(charset="utf-8")
	meta(name="author" content="Casey McClure")
	meta(name="description" content="Casey McClure is a Web Designer &amp; Full-stack developer in the Orlando, Fl area. Casey specializes in HTML, CSS, JS, PHP, SQL, and MVC architecture.")

	link(type="text/css" rel="stylesheet" href="css/main.css")

	script(src="js/googleAnalytics.js")
body
	header
		a(href="/")
			img(id="logo" alt="caseymcclure.me" src="graphics/caseymcclure_logo.svg")

		nav(class="main_nav")
			ul
				li 
					a(href="/") cm.me
				li 
					a(href="/developmentblog") dev blog
		nav(class="mobile_nav")
			ul
				li(class="menu") 
					ul
						li
							a(href="/") cm.me
						li 
							a(href="") blog
	section
		img(id="casey_photo" alt="Full Stack Applications Developer" src="img/casey-mcclure.jpg")
		p(class="temp_p") I'm a web applications developer who loves code, business, and finance. My biggest passion in life is learning and this can be seen in the approach I take to developing applications, whether it be understanding the nuances of Agile in the SDLC, leveraging project management platforms like Jira, learning about and integrating the best continuous integration/development tech into my pipelines, or picking the right lanugages, frameworks, templating engines, and databases for the solution. 
		p(class="temp_p") The industry is always evolving and I look forward to the possiblities it offers, not only to developers, but our clients as well! 

	section
		h1

